<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cqy.springaopdemo.dao.BookMapper">
    <sql id="Base_Column_List">
        b_id,b_name,b_price,b_type_id,b_state
    </sql>
    <resultMap id="bookMap" type="cn.cqy.springaopdemo.pojo.Book">
        <id column="b_id" property="id"></id>
        <result column="b_name" property="name"></result>
        <result column="b_price" property="price"></result>
        <result column="b_state" property="state"></result>
        <association property="type" javaType="cn.cqy.springaopdemo.pojo.Type">
            <id column="t_id" property="id"></id>
            <result column="t_name" property="name"></result>
        </association>
    </resultMap>
    <select id="findById" resultMap="bookMap" parameterType="int">
        select 
        *
        from t_book b
        left join t_type t on b.b_type_id = t.t_id
        where b.b_id = #{id}
    </select>
</mapper>